<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${phoneNumber}"
method="post">
    <table>
        <tr>
            <td>Phone Number</td>
            <td><input type="text" th:field="*{number}"></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('number')}"
            th:errors="*{number}"></span></td>
        </tr>
    </table>
    <button>submit</button>
</form>
</body>
</html>